@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html,
body {
  font-family: "Press Start 2P", Courier, monospace;
  background: #000000;
  color: #eeeeee;
}

h1 {
  padding-top: 1.5rem;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.no-bg {
  background: #000000;
}

.c64-border {
  color: #0088ff;
  background: #0088ff;
}

.c64-bg {
  background: #0000aa;
}

.input-group > .input-group-append > .btn {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.speech-bubble {
  position: relative;
  background: #007bff;
  border-radius: 0.4em;
  padding: 15px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-right-color: #007bff;
  border-left: 0;
  margin-top: -0.625em;
  margin-left: -0.625em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.625em solid transparent;
    border-bottom-color: #007bff;
    border-top: 0;
    margin-left: -0.625em;
    margin-top: -0.625em;
  }
}
